body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.tierlist {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.tier {
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
}

.item {
    border: 1px solid #333;
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    max-width: 200px;
    max-height: 200px;
}

.diamond {
    max-width: 20px;
    max-height: 20px;
}

